/* You can add global styles to this file, and also import other style files */
@import 'assets/styles/_variables.scss';


@font-face {
  font-family: "ProximaNova";
  src: url("./assets/fonts/ProximaNova-Regular.otf");

}

@font-face {
  font-family: "ProximaNovaBold";
  src: url("./assets/fonts/ProximaNova-Bold.otf");

}

@font-face {
  font-family: "ProximaNovaLight";
  src: url("./assets/fonts/ProximaNova-Light.otf");
}



@font-face {
  font-family: "ProximaNovaRegularItalic";
  src: url("./assets/fonts/ProximaNova-RegItalic.otf");
}





body{
    
    color: white;
    font-family: "ProximaNova";
    margin: 0;
}


.purple{
        background: $purple;
}



.red{
    background: $red;
    background: -webkit-linear-gradient(top right, $purple 50%, $red 50%);
    background: -moz-linear-gradient(top right, $purple 50%, $red 50%);
    background: -o-linear-gradient(top right, $purple 50%, $red 50%);
    background: linear-gradient(to bottom left, $purple 50%, $red 50%);
}
.wrapper{
    max-width: 1320px;
    margin: 0 auto;
    width: 95%;

    .header{
        padding: 40px 0px;

       

        .logotype{
            fill: white;
            margin-left: 8px;
        }
    }

}

@media screen and (max-width: 960px){
    .purple.head {
        background: $dark-purple;
        text-align: center;
    }

    .wrapper .header {

        padding: 20px 0px;
        .logotype{
            display: none;
        }
    }
}






